Repository dpalmasan/dev-job-analytics, pull requests merged in 2021-08, with the labels that each got.

#20 Logged scraper
  .gitignore
  scraper/get_data.py
  scraper/jobserver-config.template.yaml
  scraper/poetry.lock
  scraper/pyproject.toml
  scraper/scraper/selenium_scrapper.py
Labels: scraper, data-model

#26 Update backend schema name #25
  .gitignore
  jobservatory_express/config/config.template.env
  jobservatory_express/models/Technology.js
Labels: backend, data-model

#22 Add custom driver to selenium Linkedin scraper (#21)
  scraper/scraper/selenium_scrapper.py
Labels: scraper

#38 Update hardcoded values in backfill script (#37)
  scraper/backfill_so_data.py
  scraper/get_data.py
  scraper/scraper/populate_db.py
  scraper/tests/test_populate_db.py
Labels: scraper

#35 fix(): Show graph by country
  jobservatory_express/controllers/technologies-controller.js
  jobservatory_react/src/components/detail/Detail.tsx
  jobservatory_react/src/components/detail/DetailChartTag.tsx
  jobservatory_react/src/components/detail/DetailCountry.tsx
  jobservatory_react/src/components/detail/ResponsiveLineComponent.tsx
  jobservatory_react/src/styles/detail.scss
Labels: frontend
